[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
zsh-jupyter-kernel = "*"
ipywidgets = "*"
iplantuml = "*"
jupyter_contrib_nbextensions = "*"
jupyter_nbextensions_configurator = "*"
jupyterlab-git = "*"

[requires]
python_version = "3.6"
