[Desktop Entry]
Version=1.0
Name=Jupyter Lab
Exec=/bin/bash /home/hallgato/docker/jupyter/run
Path=/home/hallgato/oe-itseclabs/
Icon=/home/hallgato/resources/jupyter.svg
Terminal=true
Type=Application
Categories=Application
