[Desktop Entry]
Version=1.0
Name=Thunderbird
Exec=thunderbird
Path=/home/alien
Icon=thunderbird
Terminal=false
Type=Application
Categories=Application
