[Desktop Entry]
Version=1.0
Name=XCA
Exec=/bin/bash /home/hallgato/docker/xca/run
Path=/home/hallgato/docker/xca
Icon=/home/hallgato/resources/XCA-logo.png
Terminal=true
Type=Application
Categories=Application
