[Desktop Entry]
Version=1.0
Name=XCA
Exec=/usr/local/bin/x11docker --home=/home/hallgato xca
Path=/home/hallgato/
Icon=/home/hallgato/resources/XCA-logo.png
Terminal=false
Type=Application
Categories=Application
